@model List<ForumSystem.Web.ViewModels.Administration.Categories.CategoryCrudModel>
@{
    var count = 1;
    this.ViewData["Title"] = "Category Admin panel";
}

<section class="pb-5 header text-center">
    <div class="container py-5 text-primary">
        <header class="py-5">
            <h1>@this.ViewData["Title"]</h1>
            <a class="btn btn-primary" asp-area="Administration" asp-controller="Categories" asp-action="Create">Create Category</a>
        </header>
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <!-- Responsive table -->
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var category in this.Model)
                                    {
                                        <tr>
                                            <th scope="row">@(count++)</th>
                                            <td>
                                                <img src="@category.Image" width="100" />
                                            </td>
                                            <td>@category.Name</td>
                                            <td>
                                                <!-- Call to action buttons -->
                                                <ul class="list-inline m-0">
                                                    <li class="list-inline-item">
                                                        <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
