@using ForumSystem.Web.ViewModels.Components;
@model MostPostsCategoriesListModel

<div class="ibox-content forum-container">

    <div class="forum-title">
        <h6 >Famous Categories</h6>
    </div>

    @foreach (var post in this.Model.Categories)
    {
        <div class="forum-item active">
            <div class="row align-items-center my-row ">
                <div class="col-md-12 my-col">
                        <img src="@post.Image" width="30" class="ui-w-40 rounded-circle center-block" />
                        <span>@post.Name</span>
                </div>
            </div>
        </div>
    }

</div>