@using ForumSystem.Web.ViewModels.Components;
@model MostPostsInCategoryListModel

<div class="ibox-content forum-container">

    <div class="forum-title">
        <h6>Famous Categories</h6>
    </div>

    @foreach (var category in this.Model.Categories)
    {
        <div class="forum-item active">
            <div class="row align-items-center my-row ">
                <a href="@category.Url" class="text-dark">
                    <div class="col-md-12 my-col">
                        <img src="@category.Image" width="30" class="ui-w-40 rounded-circle center-block" />
                        <span>@category.Name</span>
                    </div>
                </a>
            </div>
        </div>
    }

    <a href="#" class="btn btn-primary">View All Categories</a>
</div>