@using ForumSystem.Web.ViewModels.Categories;
@model CategoryViewModelList

@{
    var count = 1;
}

<div class="ibox-content forum-container text-center">

    <div class="forum-title">
        <h3>All Categories</h3>
    </div>

    @foreach (var category in this.Model.Categories)
    {
        <div class="forum-item justify-content-lg-center">
            <div class="row align-items-center my-row ">
                <a asp-action="ByName" asp-route-name="@category.UrlName" asp-route-id="1" class="text-dark">
                    <div class="col-md-12 my-col">
                        <span>@(count++)</span>
                        <img src="@category.Image" width="60" class="ui-w-40 rounded-circle center-block" />
                        <span>@category.Name</span>
                    </div>
                </a>
            </div>
        </div>
    }

    <partial name="~/Views/PartialViews/_Pagination.cshtml" model="this.Model.PaginationModel">

</div>