@using ForumSystem.Web.ViewModels.Categories;
@model CategoryLiveChatViewModel

<div class="container">
    <header class="text-center">
        <h1 class="display-4 text-white">Chat about <strong>@this.Model.Name</strong></h1>
    </header>

    <div class="row rounded-lg overflow-hidden shadow">
        <div class="col-12 px-0">
            <div id="messagesList" class="px-4 py-5 chat-box bg-white"></div>

            <div class="input-group">
                <input id="messageInput" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                <div class="input-group-append">
                    <button id="sendButton" class="btn btn-link" disabled> <i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/chat.js"></script>
}