@using ForumSystem.Common;
@using ForumSystem.Web.ViewModels.Home;
@model HomePostsListViewModel
@{
    this.ViewData["Title"] = "Posts";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Welcome to @GlobalConstants.SystemName</h2>

                        <div class="pull-right forum-desc">
                            <samll>Total posts: @this.Model.PostsCount</samll>
                        </div>

                        <span>Feel free to choose topic you're interested in.</span>
                    </div>
                </div>

                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <h3>Posts: </h3>
                    </div>

                    @foreach (var post in this.Model.Posts)
                    {
                        <partial name="~/Views/PartialViews/_Post.cshtml" model="post" />
                    }

                    <partial name="~/Views/PartialViews/_Pagination.cshtml" model="this.Model.PaginationModel" />
                </div>
            </div>
        </div>
    </div>
</div>

